

#footer {
    background-color: #464646;
    background-image: none;
    display: flex;
    /* flex-direction: column; */
    height: 233px;
    border-radius: 0vh;
    margin-bottom: 0vh;
    margin-top: 100px;

}

h3 {
    align-self: auto;
    font: Bold 14px/20px Helvetica;
    color: #CBD0D3;
    margin-left: 10px;
    height: 13px;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 400px;
}

#footer-fh-logo {
    font: Bold 25px/20px Helvetica;
    letter-spacing: 0;
    color: #white;
    padding-left: 166px;
    margin-bottom: 15px;
    padding-top: 8px;
    padding-right:0px;
}

.footerNav {
    padding-left: 0px;
    margin-left: 0px;
    flex-direction: column;
}