.randomContainer {
    padding: 5px;
    width: 25%; 
    align-items: center;
    justify-content: center;
}
 
.nightmare {
    display: flex;

}

.search-form {
    display: inline;
}

.search-button {
    display: inline;
}